div.galleryContent {

}
div.galleryFeature {
  width:600px;
  height:520px;
  border:1px solid #fff;
  float:left;
  margin:0 10px 10px 0;
}
div.galleryLink {
  width:295px;
  height:255px;
  border:1px solid #fff;
  float:left;
  margin:0 10px 10px 0; /* t r b l */
}
div.galleryYear {
  font-size:20px;
  text-align:center;
  background-color:rgba(0,0,0,0.5);
  color:#fff;
}