* {
	margin: 0;
}
html {
  overflow-y: scroll;
  height:100%;
}
body {
  background: #c1c1c1;
  font-size:16px;
  padding-top:20px;
  font-family: "Lucida Grande",Verdana,sans-serif;
  color:#262626;
  text-shadow:0px 1px 0px rgba(255,255,255,0.5);
}
div.container {
  width:1000px;
  margin:0 auto;
}
div.header {
  color:#727272;
  text-shadow: 0px 2px 5px #9B9B9B;
  text-align:center;
  margin-top:40px;
}
img.headerImage {
  margin-bottom:40px;
}
p.headerText, p.headerText2 {
  font-size:40px;
}
p.headerNotice {
  font-size:30px;
}
p.headerNotice2 {
  font-size:20px;
}

div.header2 {
  color:#727272;
  text-shadow: 0px 2px 5px #9B9B9B;
  text-align:center;
  height:200px;
}
img.headerImage2 {
  float:left;
}
p.headerText2 {
  padding-top:40px;
}

div.leftCol  {
  width:290px;
  float:left;
  border-right:3px solid #666;
}
div.rightCol {
  width:680px;
  float:right;
  line-height:1.9em;
}
p.rightTitle, p.leftTitle {
  font-size:30px;
  border-bottom:1px solid #333;
  width:40%;
  text-align:center;
  margin: 0 auto;
  margin-bottom:30px;
  line-height:30px;
}
ul {
  margin-left:-15px;
}
li {
  line-height:25px;
  padding-bottom:10px;
}


::-webkit-scrollbar {
  width:12px;
  height:12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background:#333;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: #666;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


a:link, a:visited {
	color:#116DCC;
  text-decoration:none;
}
a:hover, a:active {
	color:#728AE7;
  text-decoration:underline;
}