<?php header('Content-type: text/css'); ?>
* {
	margin: 0;
}

body {
	font-family: "Lucida Grande",Verdana,sans-serif;
	padding-top:20px;
	background-color:#a5a5a5;
	background-color:#666666;
	background-image:url('/core/img/background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100%; /*make full size*/
	font-size:14px;
	width:100%;
}
div#resources-title{
	cursor:pointer;
}
div#categories-title{
	cursor:default;
}
div#important-dates-title{
	cursor:default;
}

#sponsor-img-1{
    position:absolute;
    border-radius:15px;
	visibility:visible;
    z-index:1;
}
#sponsor-img-2{
    position:absolute;
    border-radius:15px;
	visibility:visible;
    z-index:2;
}
img.sponsor{
    border-radius:15px;
    padding:0px;
    margin:0px;
    width:95%;
}

div.container {
	width:80%;
	min-width:1000px;
	margin: 0 auto;
	/*border:1px #000 solid;*/
	background: rgba(0,0,0,1.0);
}
div.left {
	float: left;
	position:fixed;
	width: 16%;
	height:90%;
	border-right:1px #bbb solid;
	padding-right:5px;
	color: #fff;
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	min-width:200px;
}
div.right {
	width:78%;
	/*border:1px #000 solid;*/
	float:right;
}
div#footer {
	text-align:center;
}
div.navbar {
	height: auto;
	width:100%;
	padding-bottom:10px;
	margin: 0 auto;
}
div.linksbox{
	width:100%;
	float:left;
	/*border:1px #000 solid;*/
	font-size:18px;
	margin:0px;
}
span.links, span.linksDonate {
	box-shadow:0px -3px 3px rgba(0,0,0,0.2);
	padding:5px;
	border-radius:8px 8px 0 0;
	background: #eaeaea;
	background: -moz-linear-gradient(top,  #eaeaea 0%, #ffffff 50%, #e5e5e5 97%, #b7b7b7 100%);
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#ffffff 50%,#e5e5e5 97%,#b7b7b7 100%);
	background: -o-linear-gradient(top,  #eaeaea 0%,#ffffff 50%,#e5e5e5 97%,#b7b7b7 100%);
	background: -ms-linear-gradient(top, #eaeaea 0%,#ffffff 50%,#e5e5e5 97%,#b7b7b7 100%);
	background: linear-gradient(to bottom,  #eaeaea 0%,#ffffff 50%,#e5e5e5 97%,#b7b7b7 100%);
}
span.linksDonate {
	float:right;
	margin-top:-5px;
}
span.links:hover{
	background: #c9c9c9;
	background: -moz-linear-gradient(top, #c9c9c9 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #c9c9c9 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #c9c9c9 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #c9c9c9 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #c9c9c9 0%,#ffffff 100%);
}
span.linksDonate:hover{
	background: #00b6ff;
	background: -moz-linear-gradient(top, #00b6ff 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #00b6ff 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #00b6ff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #00b6ff 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #00b6ff 0%,#ffffff 100%);
}
div.head {
	width:100%;
	padding:0.1px; /*stupid thing requires any positive padding value...?*/
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
	border-radius:0 0 4px 4px;
	margin-top:5px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.2);
}
div.headTitle {
	margin:20px;
	font-size: 40px;
	color:#006CFF;
	text-shadow:0px 1px 10px rgba(0,0,0,0.4);
	border-bottom:1px solid #bbb;
	border-left:1px solid #bbb;
}
div.headSearch {
	margin:0px;
	margin-right:8px;
	width:200px;
	float:left;
	padding:0px;
}
div.headImageBox {
	position:absolute;
	/*border:1px solid #000;*/
	float:left;
	margin:15px 0 0 45px;
	width:450px;
	height:75px;
	-webkit-transform: skew(315deg);
	-moz-transform: skew(315deg);
	-o-transform: skew(315deg);
	background:#006CFF;

	overflow:hidden; /* comment out to see images */
}
div.headImages {
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	width:1000px; /* used to fit 3 images */
	margin-top:-30px;
	margin-left:-65px;
}
input.searchBar {
	font-size:18px;
	border:1px solid #555555;
	padding:0px;
	margin-right:auto;
	margin-top:0px;
	width:200px;
	border-radius:5px;
}
div.headIcons {
	/*border:1px solid #000;
	margin:75px 20px 0 0;
	position:fixed;
	right:10px;
	bottom:10px;*/
	float:right;
	margin:0px;
}

img.head-icons{
	margin:0px;
	padding:0px;
	border:1px solid #555555;
	border-radius:3px;
	background-color:#555555;
}

div.post {
	border-radius:4px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.4);
	margin:0 auto;
	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 0%, #d3d3d3 100%);
	background: -webkit-linear-gradient(top, #ededed 0%,#d3d3d3 100%);
	background: -o-linear-gradient(top, #ededed 0%,#d3d3d3 100%);
	background: -ms-linear-gradient(top, #ededed 0%,#d3d3d3 100%);
	background: linear-gradient(to bottom, #ededed 0%,#d3d3d3 100%);
	margin-bottom:30px;
}
div.postTitle {
	text-align:center;
	text-shadow:0px 1px 0px rgba(255,255,255,0.5);
	padding:5px;
	border-bottom:1px solid #50565B;
	background: #cfd2d7;
	background: -moz-linear-gradient(top,  #cfd2d7 0%, #848d96 100%);
	background: -webkit-linear-gradient(top,  #cfd2d7 0%,#848d96 100%);
	background: -o-linear-gradient(top,  #cfd2d7 0%,#848d96 100%);
	background: -ms-linear-gradient(top, #cfd2d7 0%,#848d96 100%);
	background: linear-gradient(to bottom,  #cfd2d7 0%,#848d96 100%);
}
span.postTitle {
	font-size:18px;
}
div.postDate {
	float:right;
	font-size:10px;
}
div.postPadding {
    padding:5px;
}
div.postImg {
    float:left;
    width:100px;
    padding:10px;
}
div.postText {
    padding:5px;
    text-shadow:0px 1px 0px rgba(255,255,255,0.5);
    border-bottom:1px solid #aaa;
    min-height:110px;
}
div.postCata {
    font-size:12px;
    border-top:1px solid #aaa;
}
div.postCommentButton {
    float:right;
    /*border:1px solid #666;*/
    margin-top: -14px;
}
div.postCommentNum {
  margin: -20px 0 0 6px;
  font-size:10px;
}
div.postComments {
  padding:10px;
  width:90%;
  margin:0 auto;
}
div.postCommentsBar {
  min-height:135px;
}
div.postCommentsUser {
  float:left;
  padding:0 10px 0 10px;
}
textarea.addComment {
  min-width:50%;
  max-width:80%;
  min-height:60px;
  border-radius:5px;
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
  border:1px solid rgba(0,0,0,0.3);
  background-color:rgba(255,255,255,0.4);
  padding:5px;
}
div.postCommentsBarMax {
  position:absolute;
  margin-left:90px;
  font-size:12px;
  color:#666;
}
div.postCommentsBarAddButton { /*charlie, can you make this follow the bottom right of the comment box?*/
  position:absolute;
  margin-left:300px;
}
button.addComment {
  margin-top:3px;
}
div.postCommentsBarNotice {
  border-bottom:1px solid #aaa;
  margin:30px 0 15px 0;
}
div.postCommentsComment {
  border:1px solid #bbb;
  padding:0 0 10px 0;
  border-radius:5px;
  min-height:100px;
  width:90%;
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 1%, #e0e0e0 93%);
  background: -webkit-linear-gradient(top, #eaeaea 1%,#e0e0e0 93%);
  background: -o-linear-gradient(top, #eaeaea 1%,#e0e0e0 93%);
  background: -ms-linear-gradient(top, #eaeaea 1%,#e0e0e0 93%);
  background: linear-gradient(to bottom, #eaeaea 1%,#e0e0e0 93%);
}
div.postCommentsCommentUser {
  float:left;
  padding:6px 10px 10px 10px;
  line-height:20px;
  border-right:1px solid #bbb;
  border-bottom:1px solid #bbb;
  margin-right:10px;
}
div.postCommentsCommentUserImage {
  float:left;
}
div.postCommentsCommentText {
  padding:6px;
  border-bottom:1px solid #bbb;
}
div.postCommentsCommentReply {
  bottom:0px;
  height:25px;
  position:relative;
}
div.postCommentsCommentDate {
  float:left;
  margin:-16px 0 0 10px;
  font-size:12px;
  position:relative;
  bottom:0px;
}
button.reply {
  float:right;
  margin: 5px 5px 0 0;
}
a:link, a:visited {
	color:#116DCC;
  text-decoration:none;
}
a:hover, a:active {
	color:#728AE7;
  text-decoration:none;
}
img.sitelogo {
  float:left;
  margin-right:20px;
}
p.sponsorsTitle {
  margin: 10px 10px 10px 10px;
  text-align:left;
  font-size:16px;
  border-bottom:1px solid #bbb;
  width:70%;
}
input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}
li{
  margin-left: -5px;
}
input:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
a img, a:hover img {
	text-decoration:none;
	border:none;
}

img.head-icons:hover{
  border:1px solid #555555;
  border-radius: 3px;
}

div.left-shadow {
  width:10%;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
  background: #000000;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 10%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 10%,rgba(0,0,0,0) 100%); 
  background: -ms-linear-gradient(left, rgba(0,0,0,1) 10%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 10%,rgba(0,0,0,0) 100%);
  z-index:-10;
}
div.right-shadow {
  width:10%;
  position:fixed;
  right:0px;
  top:0px;
  margin-left:auto;
  bottom:0px;
  background: #000000;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
  z-index:-10;
}

div.header {
  height:25px;
  position:fixed;
  top:0px;
  width:auto;
  padding:5px 10px 3px 10px;
  background-color:#444444;
  border-bottom:1px solid #777;
  left:0px;
  right:0px;
  font-size:20px;
  color:#e5e5e5;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  z-index:10;
}

div.header-right{
  border-bottom-left-radius:10px;
  border-left:1px solid white; 
  right:0px;
  margin:0px auto;
}
div.header-left{
  margin:0px auto;
  border-bottom-right-radius:5px;
  border-right:1px solid white;
  left:0px;
  width:auto;
}

form{
  margin:0px;
  padding:0px;
}
button {
  border:1px solid rgba(0,0,0,0.3);
  border-radius:2px;
  padding:2px;
  background: #f3f3f3;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #c6c6c6 100%);
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#c6c6c6 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%,#c6c6c6 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%,#c6c6c6 100%);
  background: linear-gradient(to bottom, #f3f3f3 0%,#c6c6c6 100%);
}
button:hover {
  background: #f3f3f3;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #bababa 68%);
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#bababa 68%);
  background: -o-linear-gradient(top, #f3f3f3 0%,#bababa 68%);
  background: -ms-linear-gradient(top, #f3f3f3 0%,#bababa 68%);
  background: linear-gradient(to bottom, #f3f3f3 0%,#bababa 68%);
}

div.float-right{
  float:right;
}
div.float-left{
  float:left;
}

div.user, div.link-box{
  background-color:rgba(0,0,0,0.5);
  padding:5px;
  margin:0px;
  border-radius:8px;
  width:95%;
}

div#user-info-box {
}

.link-image:hover{
  cursor:pointer;
}
p#resources-title, p#categories-title, p#important-dates-title {
  cursor:pointer;
}
